@font-face {
  font-family: "Lato";
  src: url('../fonts/Lato/Lato-Bold.eot');
  src: url('../fonts/Lato/Lato-Bold.woff2') format('woff2'),
  url('../fonts/Lato/Lato-Bold.woff') format('woff'),
  url('../fonts/Lato/Lato-Bold.ttf') format('truetype'),
  url('../fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url('../fonts/Raleway/Raleway-Bold.eot');
  src: url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-Bold.woff') format('woff'),
  url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype'),
  url('../fonts/Raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url('../fonts/Raleway/Raleway-Regular.eot');
  src: url('../fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-Regular.woff') format('woff'),
  url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype'),
  url('../fonts/Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url('../fonts/Raleway/Raleway-SemiBold.eot');
  src: url('../fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
  url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
  url('../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype'),
  url('../fonts/Raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rockwell";
  src: url('../fonts/Rockwell/Rockwell-Bold.eot');
  src: url('../fonts/Rockwell/Rockwell-Bold.woff2') format('woff2'),
  url('../fonts/Rockwell/Rockwell-Bold.woff') format('woff'),
  url('../fonts/Rockwell/Rockwell-Bold.ttf') format('truetype'),
  url('../fonts/Rockwell/Rockwell-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rockwell";
  src: url('../fonts/Rockwell/Rockwell-Italic.eot');
  src: url('../fonts/Rockwell/Rockwell-Italic.woff2') format('woff2'),
  url('../fonts/Rockwell/Rockwell-Italic.woff') format('woff'),
  url('../fonts/Rockwell/Rockwell-Italic.ttf') format('truetype'),
  url('../fonts/Rockwell/Rockwell-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Rockwell";
  src: url('../fonts/Rockwell/Rockwell-Regular.eot');
  src: url('../fonts/Rockwell/Rockwell-Regular.woff2') format('woff2'),
  url('../fonts/Rockwell/Rockwell-Regular.woff') format('woff'),
  url('../fonts/Rockwell/Rockwell-Regular.ttf') format('truetype'),
  url('../fonts/Rockwell/Rockwell-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}