footer.footer
    .footer__top
        .container
            .footer__plans
                .footer__plans-title Do you want to view Plans & Pricing?
                .footer__plans-desc Follow the button in the right section.
            .footer__btn Plans & Pricing
    .footer__bottom
        .container
            .footer__nav
                .footer__nav-title Navigation
                ul.footer__nav-links
                    li.footer__nav-item
                        a(href="#").footer__nav-link Home
                    li.footer__nav-item
                        a(href="#").footer__nav-link About
                    li.footer__nav-item
                        a(href="#").footer__nav-link Domain
                    li.footer__nav-item
                        a(href="#").footer__nav-link Hosting
                    li.footer__nav-item
                        a(href="#").footer__nav-link Contact
                ul.footer__socials
                    li.footer__socials-item
                        i.fa.fa-twitter
                    li.footer__socials-item
                        i.fa.fa-instagram
                    li.footer__socials-item
                        i.fa.fa-google-plus
                .footer__to-top Back to Top
            .footer__sign
            .footer__copyright Copyright 2014 Maguwohost by FikriStudio