section.clients
    .container
        .clients__top
            .clients__text-block
                h2.clients__text-block-title Our Clients
                .clients__text-block-desc This is Photoshop's version of Lorem Ipsum.
                    |  Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum.
            ul.clients__companies
                li.clients__companies-item(style="background-position: -232px -20px;")
                li.clients__companies-item(style="background-position: -656px -20px;")
                li.clients__companies-item(style="background-position: -444px -20px;")
                li.clients__companies-item(style="background-position: -20px -20px;")
        .clients__bottom
            ul.clients__people
                li.clients__people-item
                    .clients__people-item-text " This is Photoshop's version of Lorem Ipsum.
                        |  Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum.
                        |  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit."
                    .clients__people-item-name -Anna
                    .clients__people-item-photo
                li.clients__people-item
                    .clients__people-item-text " This is Photoshop's version of Lorem Ipsum.
                        |  Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum.
                        |  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit."
                    .clients__people-item-name -Anna
                    .clients__people-item-photo
                li.clients__people-item
                    .clients__people-item-text " This is Photoshop's version of Lorem Ipsum.
                        |  Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum.
                        |  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit."
                    .clients__people-item-name -Anna
                    .clients__people-item-photo