section.features
    .container
        h2.features__title Our Features
        .features__desc Our Best Features
        ul.features__list
            li.features__item
                .features__item-picture(style="background-position: -524px -20px;")
                h3.features__item-title Live Support
                .features__item-desc This is Photoshop's version of Lorem Ipsum. Proin gravida
                    |  nibh vel velit auctor aliquet.
            li.features__item
                .features__item-picture(style="background-position: -20px -20px;")
                h3.features__item-title Cloud Technology
                .features__item-desc This is Photoshop's version of Lorem Ipsum. Proin gravida
                    |  nibh vel velit auctor aliquet.
            li.features__item
                .features__item-picture(style="background-position: -188px -20px;")
                h3.features__item-title Hi Tech Database
                .features__item-desc This is Photoshop's version of Lorem Ipsum. Proin gravida
                    |  nibh vel velit auctor aliquet.
            li.features__item
                .features__item-picture(style="background-position: -356px -20px;")
                h3.features__item-title Live Monitoring
                .features__item-desc This is Photoshop's version of Lorem Ipsum. Proin gravida
                    |  nibh vel velit auctor aliquet.