section.services
    .services__left
        .services__content
            img(src="img/icons/services.png" alt="Services").services__picture
            h3.services__title #1 Webhost Services
            .services__desc This is Photoshop's version of Lorem Ipsum. Proin gravida nibh
                |  vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                |  nisi elit consequat ipsum, nec sagittis sem nibh id elit.
            .services__btn More
    .services__right
        .services__content
            .services__logo .com
            h3.services__title #1 Domain Services
            .services__desc This is Photoshop's version of Lorem Ipsum. Proin gravida nibh
                |  vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
                |  nisi elit consequat ipsum, nec sagittis sem nibh id elit.
            .services__btn More